body{
    background: rgb(228, 173, 173);
}

.centrado{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.separacion{
    display: flex;
    justify-content: space-evenly;
}

.cen{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.borde{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    background: white;
}

.carta{
    display: flex;
    flex-direction: column;
}

.img{
    display: flex;
    justify-content: center;
}

.img1{
    width: 500px;
    cursor: pointer;
}

button{
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(129, 236, 138);
    border: none;
    border-radius: 10px;
}


hr{
    border: 0;
    height: 1px; 
    background-color: #920808; 
}